/* phpcs:ignore */

table.gcr_report {
  border-collapse: collapse;
  min-width: 650px;
}

table.gcr_report tr, table.gcr_report td {
  border: 1px solid black;
  padding: 2px 5px !important;
}

table.gcr_report td.order_info_expanded {
  // display: inline-block;
  padding: 4px !important;
}

.redux-field-container .dataTables_filter {
  margin-bottom: 20px;
}

tr.gcr_report_ordertotal {
  font-weight: bold;
  text-align: right;
}
tr.gcr_report_ordertotal td {
  padding-bottom: 15px;
}

@media (max-width: 785px) {
  form[data-opt-name=eitagcr] .gcr_report {
    min-width: 420px;
  }

  form[data-opt-name=eitagcr] .gcr_report td{
    height: auto !important;
  }
  
  form[data-opt-name=eitagcr] .gcr_report_header td {
    width: auto !important;
  }

  form[data-opt-name=eitagcr] .redux-sidebar .redux-group-tab-link-a span.group_title {
    padding-left: 5px !important;
  }

  form[data-opt-name=eitagcr] .select2-container {
    width: 85% !important;
  }
  form[data-opt-name=eitagcr] .redux-sidebar {
    width: 151px !important;
  }
  form[data-opt-name=eitagcr] .redux-main {
    margin-left: 150px !important;
  }

  form[data-opt-name=eitagcr] .group_title{ 
    display: unset !important;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    padding: unset !important;
    width: unset !important;
    background: unset !important;
    border: unset !important;
    -webkit-box-shadow:  unset !important;
    box-shadow:  unset !important;
    border-width:  unset !important;
    z-index:  unset !important;
    padding:  unset !important;
    color:  unset !important;
    -webkit-transition:  unset !important;
    transition:  unset !important;
    text-shadow:  unset !important;
  }
  
}

.sementes_analytics_table thead td {
  font-weight: bold;
}

#adminmenu .toplevel_page_eitagcr_panel .wp-menu-image img {
  opacity: 0.8
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-main .redux-container-switch .cb-disable.selected,
.redux-eitagcr .redux-main .redux-container-switch .cb-disable.selected {
  background-image: -webkit-linear-gradient(top, #008bce, #0073aa) !important;
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-action_bar #redux-defaults-section-top,
.redux-wrap-div[data-opt-name=eitagcr] .redux-action_bar #redux-defaults-top,
.redux-wrap-div[data-opt-name=eitagcr] .redux-action_bar #redux-defaults-section-bottom,
.redux-wrap-div[data-opt-name=eitagcr] .redux-action_bar #redux-defaults-bottom {
  display: none;
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu .redux-group-tab-link-li {
  display: none;
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\32_section_group_li.active, 
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\32_section_group_li.activeChild, 
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\32_section_group_li.active li, 
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\32_section_group_li.activeChild li,
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\31 0_section_group_li.active, 
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\31 0_section_group_li.activeChild, 
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\31 0_section_group_li.active li, 
.redux-wrap-div[data-opt-name=eitagcr] .redux-sidebar .redux-group-menu #\31 0_section_group_li.activeChild li { 
  display: block;
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-main #info_bar .expand_options {
  display: none;
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-main #redux-sticky {
  display: none;
}

.redux-wrap-div[data-opt-name=eitagcr] fieldset[id*=report] .select2-selection__placeholder {
  color: #444;
}

#\31_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\32_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\33_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\34_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\35_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\36_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\37_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\38_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\39_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\31 0_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\31 1_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\31 2_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer,
#\31 3_section_group[style="display: block;"] ~ #redux-footer-sticky #redux-footer{  
  display: none;
}

.redux-wrap-div[data-opt-name=eitagcr] .redux-group-tab {
  overflow-x: auto;
}

.cycle-info-ctn {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
  height: 750px;
  background-color: #e1f0e0;
}

@media (max-width: 760px) {
  .cycle-info-ctn{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
  }
}

.cycle-info-ctn h1{
  font-size: 21px;
  font-weight: 600;
}

.cycle-info-ctn h2 {
  color: #353838;
  font-weight: 400;
}

@media (max-width: 1520px) {
  .cycle-info-ctn h1{
    font-size: 18px;
  }
  .cycle-info-ctn h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 1200px) {
  .cycle-info-ctn h1{
    font-size: 15px;
  }
  .cycle-info-ctn h2 {
    font-size: 1.1em;
  }
}

.cycle-info-ctn.sementes-dashboard {
  flex-flow: row wrap;
}

.cycle-info-ctn > div{
  padding: 20px;
  width: 40%;
  background-color: #fff;
  height: 150px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
@media (max-width: 760px) {
  .cycle-info-ctn > div{
    margin-top: 20px;
    width: 75%;
  }
}

.cycle-info-ctn .cycle-status {
  height: 130px;
  overflow: auto;
  margin-bottom: 10px;
}
.cycle-info-ctn .cycle-status h2{
  margin-top: 5px;
  margin-bottom: 0px;
}

.cycle-info-ctn .medium-div {
  height: 455px;
}

.cycle-info-ctn .medium-div .medium-div-list {
  height: 385px;
  overflow: auto;
  margin-bottom: 10px;
}

.cycle-info-ctn .tall-div {
  height: 678px;
}

.cycle-info-ctn .tall-div .tall-div-list {
  height: 608px;
  overflow: auto;
  margin-bottom: 10px;
}

.cycle-info-ctn .cycle-summary {
  line-height:10px;
}

.cycle-status-tag {
  padding: 4px;
  padding-inline: 6px;
  border-radius: 3px;
  color: #fff;
  font-weight: 900;
  width: 75px;
  text-align: center;
}

.open-cycle-tag {
  // background-color: #417e2bf1;
  background: #c6e1c6;
  color: #5b841b;
}

.closed-cycle-tag {
  // background-color: #d54848f1;
  background: #eba3a3;
  color: #761919;
}

.suspended-cycle-tag {
  // background-color: #d54848f1;
  background: #f8dda7;
  color: #94660c;;
}

#redux-header{ 
  background: #2c6627 !important;
}

#\31_section_group > h2 {
  font-size: 2em;
}

fieldset.redux-field-container .select2 .select2-selection button span {
  display: none;
}

.hidden-redux-input {
  display: none;
}

#toplevel_page_eitagcr_panel img {
  width: 20px;
}

h2.suspended-cycle-warning {
  color: #e14840;
}

