/* phpcs:ignore */

#shipping_deliveryplace_field .woocommerce-input-wrapper {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-row-gap: 10px;
    margin-top: 10px;
}
#shipping_deliveryplace_field.form-row label {
    margin-bottom: -4px;
}


